.placeholder-wraps-all {
   display: flex;
}

.blog-feed-placeholder {
   height: 480px;
   display: flex;
   flex: 1;
   flex-direction: column;
   padding: 0 10px;

   &:nth-child(1) {
      display: block;
   }
   &:nth-child(2) {
      margin: 0 20px 20px 20px;
   }
   @include device('tablet') {
      display: block;
   }
}

$color: #c5c5c536;

.placeholder-one {
   display: flex;
   width: 100%;
   height: 160px;
   background-color: $color;
   margin: 5px 0;
}

.placeholder-second-wrapper {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.placeholder-two {
   display: flex;
   width: 22%;
   height: 20px;
   background-color: $color;
}

.placeholder-three {
   width: 100%;
   height: 80px;
   background-color: $color;
   margin-top: 5px;
}

.placeholder-four {
   width: 100%;
   height: 30px;
   background-color: $color;
   margin: 55px 0 0 0;
}
