.navigation {
   display: flex;
   flex-direction: column;

   &-link {
      flex: 1;
      overflow-y: hidden;
      margin-bottom: 1rem;

      a {
         display: block;
         width: 200px;
         opacity: 0;
         mix-blend-mode: darken;
         font-size: ms(2);
         font-weight: bold;
         text-align: left;
         color: #38362e;
         position: relative;
         transform: translate3d(0, 30%, 0);
         transition: all 200ms ease;

         @include device('tablet') {
            font-size: ms(2);
         }

         &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 4px;

            height: 2px;
            width: 0;
            background-color: #38362e;
            transition: all 200ms ease;
            transform-origin: left;

            @include device('tablet') {
               height: 4px;
            }
         }

         &.active {
            mix-blend-mode: normal;

            &:after {
               width: 10%;
               @include device('tablet') {
                  width: 30%;
               }
            }
         }
      }

      &.active {
         a {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            @include device('desktop') {
               &:hover {
                  opacity: 0.6;
               }
            }
         }
      }
   }
}
