// Device media query mixin
@mixin device($point) {
   @if $point == phone-landscape {
      @media only screen and (max-width: 767px) and (orientation: landscape) {
         @content;
      }
   } @else if $point == phone-portrait {
      @media only screen and (max-width: 767px) and (orientation: portrait) {
         @content;
      }
   } @else if $point == phone {
      @media only screen and (max-width: 767px) {
         @content;
      }
   } @else if $point == tablet-landscape {
      @media only screen and (min-width: 768px) and (orientation: landscape) {
         @content;
      }
   } @else if $point == tablet-portrait {
      @media only screen and (min-width: 768px) and (orientation: portrait) {
         @content;
      }
   } @else if $point == tablet {
      @media only screen and (min-width: 768px) {
         @content;
      }
   } @else if $point == desktop-to-desktop-lg {
      @media only screen and (min-width: 980) and (max-width: 1200px) {
         @content;
      }
   } @else if $point == desktop {
      @media only screen and (min-width: 980px) {
         @content;
      }
   } @else if $point == desktop-large {
      @media only screen and (min-width: 1200px) {
         @content;
      }
   } @else if $point == desktop-extra-large {
      @media only screen and (min-width: 1420px) {
         @content;
      }
   }
}
