.case-categories {
   width: 90%;
   margin: 60px auto 40px auto;
   &-menu {
      ul {
         display: flex;
         flex-wrap: wrap;
         justify-content: flex-start;
         li {
            margin: 0 ms(1) 14px 0;

            a {
	            line-height: 1.44;
               font-size: ms(1);
               color: #424242;
            }
            &.active {
               a {
                  
                  position: relative;
                  &:after {
                     position: absolute;
                     left: 0;
                     bottom: -3px;
                     content: '';
                     width: 100%;
                     height: 2px;
                     background-color: #424242;
                  }
               }
            }
         }
      }
   }
}

.case-list
.case--full 
.case__excerpt {
   font-size: 1rem;
}