.article-read-more {

   grid-column: span 12;
   position: relative;
   color: #2a2a2a;

   .read-more {
      width: 80%;
      margin: 0 auto;
      &__list {
         display: flex;
         flex-direction: column;
         @include device('desktop'){
            flex-direction: row;
            justify-content: space-between;
            &-item {
               width: 32%;

            }
         }

      }
      @include device('tablet'){
         width: 66%;
      }
   }
   .divider {
      margin: 0 0 40px 0;
      @include device('desktop'){
         display: none;
      }
   }
}
.read-more-link {
   font-weight: 700;
   text-align: left;
   color: #2a2a2a;
   text-decoration: underline;
}
.read-more-item {
   height: 100%;
   &__wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

   }
   .image-wrapper {
      width: 100%;
      height: 20vh;
      overflow: hidden;
      position: relative;
      background-color: #ccc;
      background-repeat: no-repeat;
      background-size: cover;
   }
   .text-wrapper {
      margin: 12px 0;
      @include device('desktop'){
         flex: 1;
         display: flex;
         flex-direction: column;
      }
      .read-more-categories {
      	line-height: 1.25;
      	text-align: left;
      	color: #4a4a4a;
      }
      .title {
         margin: 12px 0;
         @include device('desktop'){
            flex: 1;
         }
         a {
            font-weight: bold;
         	text-align: left;
         	color: #2a2a2a;
            text-decoration: underline;
         }
         &:hover {
            color: #c26720;
         }
      }
      .read-more-author {
         &__name {
            font-weight: bold;
         	color: #212121;
         }
         &__date {
         	color: #4a4a4a;
            margin: 0 0 0 12px;
         }
      }
   }
}
