.share-buttons {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 44px;
   background-color: #fff;
   border-top: 1px solid #dadada;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   z-index: 990;
   padding: 0 20px;
   .buttons {
      display: flex;
   }
   .share-button {
      background-color: transparent;
      border: none;
      width: 42px;
      height: 100%;
      margin: 0 15px 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
         width: 100%;
      }
      &:focus {
         outline: none;
      }
      cursor: pointer;
   }
   @include device('tablet') {
      width: 10%;
      height: auto;
      left: 7%;
      top: 20%;
      border-top: none;
      flex-direction: column;
      justify-content: flex-start;
      opacity: 0;
      transition: all 200ms ease;
      background-color: transparent;
      .buttons {
         flex-direction: column;
      }
      &.active {
         opacity: 1;
      }
      .share-title {
         font-size: ms(1);
         color: #4a4a4a;
      }
      .share-button {
         margin: 15px 0 0 0;
      }
   }
   @include device('desktop') {
      width: 22%;
   }
}
