.article-inner {
   .divider {
      margin: 40px 0;
      display: flex;
      justify-content: center;
      border: none;
      .divider-dot {
         margin: 0 12px;
         display: block;
         width: 3px;
         height: 3px;
         background-color: #000;
         @include device('tablet') {
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-image: linear-gradient(135deg, #436381, #a37a10);
         }
      }
   }
}
