.testimonial-wrapper {
   background-image: linear-gradient(to bottom, #5b6780, #4f5c77, #44516e, #384665, #2d3b5c);
   position: relative;
}
.testimonial-header {
   color: white !important;
   opacity: 1 !important;
}
.section-head {
   color: #38362e;
}

.testimonial {
   align-self: center;
   display: flex;
   align-items: center;
   padding-top: 4rem;
   padding-bottom: 7rem;
   flex-direction: column;
   position: relative;
   flex: 1;
   height: 100%;
}
.testimonial-inner {
   overflow: hidden;
   margin: 20px 0;
}
.testimonial-blockquote {
   text-align: center;

   margin: 0;
   padding: 0;

   & .quote,
   & h6 {
      margin: 0;
      white-space: pre-wrap;
      color: white !important;
   }

   & .quote {
      margin-bottom: 2.6rem;
      line-height: 1.3;
      letter-spacing: 0.5px;
      font-weight: 900;
      font-size: 1.6rem;
      display: block;
   }

   & h6 {
      opacity: 0.8;
      margin-bottom: 0.2rem;
      color: #000;
   }
   ul > li {
      background-color: #000;
   }
}
