.article-feature {
   position: relative;
   overflow: hidden;
    &__hex {
        width: 640px;
        max-width: 100%;
        margin: 100px auto 0 auto;
    }
    &__square {
        width: 90%;
        margin: 4rem 5% 2rem 5%;
        
        .news-signup {
            width: 100%;
            margin: 0;
            padding: 40px 10%;
        }
    }
   .content {
      width: 50%;
      height: 70%;
      margin: 8% 25% 0 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   }
   .featured-blog {
      padding: 0 12px;
      height: 80%;
      color: #fff;
      &__header {
         margin: 0;
      }
      &__title {
         margin: 0;
         a {
            color: #fff;
            text-decoration: underline;
         }
      }
      &__excerpt {
         margin: 0;
         line-height: 1.25;
         opacity: 0.75;
      }
   }
   .news-signup {
      color: #fff;
      text-align: center;
      &__image {
          width: 159px;
        height: 246px;
         margin: -4.5em auto -2em auto;
      }
      &__text {
         width: 100%;
         margin: 0 auto;
      }
   }
}
